/1-reflog-cursor-branch/repo/
/2-rebase-vs-merge/repo/
/3-prepend-fix/repo/
/4-distributed-rebase/alice/
/4-distributed-rebase/bob/
/4-distributed-rebase/charlie/
/4-distributed-rebase/origin/
/5-feature-inception/repo/
